@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Myriad Pro', sans-serif;
}

/*.header-logo {
   margin-top: 61px;
    margin-left: 2px;   
}*/

.header-logo {
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    margin-top: 61px;
}

.logo-end {
    font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
}

.menu {
    width: 1278px;
    height: 69px;
    background-color: #35444f;
    text-align: center;
    margin: 51px 1px 45px 1px;
    display: inline-block;
}

.menu-link {
    font-family: Myriad Pro;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 21px; //padding-top: 21px;
    float: left;
}

/*
.menu-link:hover {
    background: rgb(34, 47, 58);
}
*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.about-ramda {
    width: 344px;
    height: 400px;
    border: 2px solid #495863;
    float: left;
}

.left-menu {
    //сбрасываем стили списка
    margin: 0;
    padding: 0;
    list-style-type: none; //сбросить маркеры
}

.left {
    background: #fff;
    color: #495863;
    display: block;
    border: none;
    height: 41px;
    text-decoration: none;
    font-size: 26.99px;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 14px
}
.left:hover {
    background: rgb(220, 220, 220);
    color: rgb(53, 68, 79);
    padding-left: 60px;
}

.section-description {
    float: left;
    width: 855px;
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-left: 52px;
}

.border-logo {
    width: 855px;
    height: 529px;
    border: 2px solid #495863;
}

.logo {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}

.logo:hover {
    width: 340px;
    height: 401px;
}

.description-ramda {
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 30px 50px;
}

.footer {
    background-color: #b5b8bb;
}

.end {
    color: #0c1927;
    margin-right: 8px;
    margin-left: 14px;
}

.end:hover {
    color: #3181a6;
    text-decoration: underline;
}

.link {
    color: #010000;
    text-align: right;
    margin-right: 14px;
    margin-left: 122px;
}
