.body-background {}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-company-name {
    font-family: 'MyOwnFont', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.company-description {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.company-slogan {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    border: 2px solid #ffffff;    
    text-transform: uppercase;
    display: inline-block;
    /* opacity: 0.5;*/
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);

}

.fone {
    padding: 29px 49px 34px 42px;        
    display: inline-block;
    background-color: #fff;
}
.fone-2 {
    padding: 26px 48px 56px 41px;
}
.company-slogan:hover {
    opacity: 1;
}

.orange-text {
    color: #f1ad1d;

}

.about-company {
    padding-top: 112px;
    padding-bottom: 112px;
}

.text-center {
    text-align: center;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.section-description {
    font-family: 'Lato', sans-serif;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

.orange-line::after {
    content: "";
    background-color: #f1ad1d;
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 52px;
}

.slogan {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
    background-position: center;
    background-attachment: fixed;
}

.img-1 {
    background-image: url(../img/bg2.jpg);
}

.img-2 {
    background-image: url(../img/bg3.jpg);
}

.img-3 {
    background-image: url(../img/bg4.jpg);
}

.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-top-item {
    margin-right: 65px;
}
.text-white{
     color: white;
}
.wigth-line::after {
    display: block;
    margin: 0 auto;
    margin-top: 44px;
    content: "";
    background-color: #fff;
    width: 281px;
    height: 3px;
}
